# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Compiled files
*.o
*.elf
*.bin
compile_commands.json

# Build directories
build/

# PlatformIO default folders (empty templates)
include/
lib/
test/

#lsp
.cache/
